.page4 {
  width: 100%;
  height: 100vh;
  background-color: var(--grey2);
}

.page4 h1 {
  color: var(--grey);
  font-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 4vh;
  height: 10vh;
}

.page4 .container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10vh;

}

.page4 .container .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.page4 .container .left h1 {
  font-size: 2rem;
  color: var(--grey);
}

.page4 .container .left p {
  font-size: 1rem;
  color: var(--grey);
}

.page4 .container .right {
  width: 50%;
  height: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.page4 .container .right img {
  width: 65%;
}



