@keyframes backrotate {
  0% {
    background: linear-gradient(
      0deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  2% {
    background: linear-gradient(
      7.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  4% {
    background: linear-gradient(
      14.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  6% {
    background: linear-gradient(
      21.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  8% {
    background: linear-gradient(
      28.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  10% {
    background: linear-gradient(
      36deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  12% {
    background: linear-gradient(
      43.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  14% {
    background: linear-gradient(
      50.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  16% {
    background: linear-gradient(
      57.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  18% {
    background: linear-gradient(
      64.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  20% {
    background: linear-gradient(
      72deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  22% {
    background: linear-gradient(
      79.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  24% {
    background: linear-gradient(
      86.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  26% {
    background: linear-gradient(
      93.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  28% {
    background: linear-gradient(
      100.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  30% {
    background: linear-gradient(
      108deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  32% {
    background: linear-gradient(
      115.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  34% {
    background: linear-gradient(
      122.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  36% {
    background: linear-gradient(
      129.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  38% {
    background: linear-gradient(
      136.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  40% {
    background: linear-gradient(
      144deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  42% {
    background: linear-gradient(
      151.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  44% {
    background: linear-gradient(
      158.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  46% {
    background: linear-gradient(
      165.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  48% {
    background: linear-gradient(
      172.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  50% {
    background: linear-gradient(
      180deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  52% {
    background: linear-gradient(
      187.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  54% {
    background: linear-gradient(
      194.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  56% {
    background: linear-gradient(
      201.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  58% {
    background: linear-gradient(
      208.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  60% {
    background: linear-gradient(
      216deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  62% {
    background: linear-gradient(
      223.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  64% {
    background: linear-gradient(
      230.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  66% {
    background: linear-gradient(
      237.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  68% {
    background: linear-gradient(
      244.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  70% {
    background: linear-gradient(
      252deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  72% {
    background: linear-gradient(
      259.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  74% {
    background: linear-gradient(
      266.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  76% {
    background: linear-gradient(
      273.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  78% {
    background: linear-gradient(
      280.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  80% {
    background: linear-gradient(
      288deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  82% {
    background: linear-gradient(
      295.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  84% {
    background: linear-gradient(
      302.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  86% {
    background: linear-gradient(
      309.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  88% {
    background: linear-gradient(
      316.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  90% {
    background: linear-gradient(
      324deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  92% {
    background: linear-gradient(
      331.2deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  94% {
    background: linear-gradient(
      338.4deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  96% {
    background: linear-gradient(
      345.6deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  98% {
    background: linear-gradient(
      352.8deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
  100% {
    background: linear-gradient(
      360deg,
      var(--gradient-color1),
      var(--gradient-color2)
    );
  }
}