@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --grey: rgb(51 51 51);
  --grey2: #f4f4f4;
  --blue1: rgb(47, 82, 105);
  --blue2: rgb(218 238 255);
}

* {
  margin: 0%;
}

html,
body {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(67, 67, 67);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(133, 133, 133);
  border: 2px solid rgb(67, 67, 67);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  border-radius: 0px;
}

.bouton-top {
  bottom: 5%;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.58);
  position: sticky;
  float: right;
  border: none;
  transition: 0.3s;
  color: white;
  text-align: center;
  display: none;
  z-index: 3;
}

.bouton-top:hover {
  background-color: rgba(182, 182, 182, 0.507);
  color: black;
}

.separator {
  width: 100%;
  height: 10vh;
  background-color: var(--grey2);
}

.sep1 {  background: linear-gradient(var(--grey2), var(--blue2));
}