* {
    margin: 0%;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../Img/backgroung.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.filtre {
    backdrop-filter: blur(8px) brightness(70%);
}

.bouton-top {
    bottom: 15%;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.580);
    position: sticky;
    float: right;
    border: none;
    transition: 2s;
    color: white;
    text-align: center;
    display: none;
}

.bouton-top:hover {
    background-color: rgba(255, 255, 255, 0.507);
    color: black;
}

.menu-inline a {
    font-size: 22px;
    color: #ffff;
    display: inline-block;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 3%;
    margin-right: 3%;
    transition: 0.5s;
}

.menu-inline a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 100%;
    height: 2px; 
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: left center;
    transition: 0.5s;
}

.menu-inline a:hover::before {
    transform: scaleX(1);
    background-color: rgb(140, 140, 140);
}

.menu-inline a:hover {
    color: rgb(140, 140, 140);
}

.menu-inline {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    position: sticky;
    top: 0px;
}

.menu-incolumn {
    display: none;
}

.banner {
    display: none;
}

.content {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex_pres {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.presentation {
    border-radius: 20px;
    background-image: url(../Img/internet.jpg);
    filter: brightness(80%);
    box-shadow: 0px 0px 20px black;
    width: 42%;
    padding: 5%;
    transition: 2s;
    text-align: center;
    color: white;
    height: fit-content;
}

.name {
    font-size: 250%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descript {
    padding-top: 2%;
    font-size: 200%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.presentation:hover {
    transform: scale(1.06);
}

footer {
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    padding-top: 4%;
    margin-bottom: -100px;
}

.contact {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
    text-decoration: underline overline;
    text-underline-offset: 10px;
    text-align: center;
    margin-bottom: 5%;
}

footer a img {
    width: 80px;
}

.flex_cont {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

.mail,
.linkedin,
.telephone {
    text-align: center;
    color: white;
    width: 20%;
    transition: 1.5s;
}

.mail:hover,
.linkedin:hover,
.telephone:hover {
    transform: scale(1.2);
}

.linkedin p,
.telephone p {
    padding-top: 4px;
    font-size: 120%;
    font-family: monospace;
}

.mail p {
    padding-top: 6px;
    font-size: 120%;
    font-family: monospace;
}

.mail h1,
.linkedin h1,
.telephone h1 {
    font-size: 150%;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.telephone::before,
.linkedin::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 100%;
    height: 2px; 
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.7s;
}

.telephone:hover::before,
.linkedin:hover::before {
    transform: scaleX(1);
}

.mail h1 {
    padding-top: 15px;
}

.mail::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 50%;
    height: 2px; 
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: left center;
    transition: 0.7s;
}

.mail:hover::before {
    transform: scaleX(1);
}

.mail::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -4px; 
    width: 50%;
    height: 2px; 
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: right center;
    transition: 0.7s;
}

.mail:hover::after {
    transform: scaleX(1);
}

.linkedin a,
.telephone a,
.mail a {
    display: block;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {

    .banner {
        display: block;
        width: 100%;
        height: 20%;
        position: sticky;
        top: 0;
        padding-top: 9%;
        padding-bottom: 9%;
        z-index: 2;
        background-color: #00000082;
    }
    
    .content {
        margin: 0;
    }

    .burger-logo {
        margin-left: 10%;
        width: 100px;
        height: 100px;
        position: sticky;
        color: white;
    }

    .menu-inline {
        display: none;
    }

    .menu-incolumn {
        display: flex;
        flex-direction: column;
        float: left;
        position: absolute;
        left: -70%;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        width: 70%;
        font-size: 400%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: 1.1s;
        z-index: 1;
    }

    .menu-incolumn.active {
        left: 0;
    }

    .menu-incolumn a {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 25%;
        color: white;
        text-decoration: none;
        z-index: 3;
    }

    .firsta {
        margin-top: 40%;
    }

    .flex_pres {
        display: block;
    }

    .presentation {
        background-size: cover;
        min-height: 600px;
        width: 100%;
        padding: 0;
        border-radius: 0px;
        transition: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .presentation:hover {
        transform: none;
    }

    .name {
        padding-top: 9%;
        font-size: 600%;
    }

    .descript {
        padding: 5%;
        padding-top: 8%;
        font-size: 350%;
    }

    footer {
        padding-top: 12%;
    }

    footer a img{
        width: 200px;
    }

    .contact {
        font-size: 450%;
        text-underline-offset: 20px;
        margin-bottom: 15%;
    }

    .flex_cont {
        flex-direction: column;
    }

    .mail,
    .linkedin,
    .telephone {
        width: auto;
        margin-left: 22%;
        margin-right: 22%;
    }

    .mail p,
    .linkedin p,
    .telephone p {
        font-size: 200%;
        font-family: monospace;
        padding-top: 25px;
        padding-bottom: 0;
    }

    .mail h1,
    .linkedin h1,
    .telephone h1 {
        font-size: 250%;
        font-family: sans-serif;
        padding-top: 25px;
        padding-bottom: 0;
        text-decoration: underline;
    }

    .linkedin {
        padding-bottom: 7%;
    }

    .mail {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .telephone::before,
    .linkedin::before {
        display: none;
    }

    .mail::after {
        display: none;
    }

    .mail::before {
        display: none;
    }

    .telephone {
        padding-top: 7%;
        padding-bottom: 7%;
    }
}